<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!--build:css css/main.css-->
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="/fontawe/font-awesome.min.css">
        <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Nanum+Myeongjo&family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
        <!--endbuild-->
        
        <title>TO DO</title>
    </head>
    <body>
        <%- include('partials/header.ejs',{page:"home"}) %>
        <%- include('partials/loginModal.ejs') %>
        <%- include('partials/addModal.ejs',{page:"home"}) %>
        <div class="container">
            <form>
                <div class="row searchbar">
                    <div class="input-group ">
                            <input class="form-control search-task" type="search" placeholder="Search">
                        <button type="button" class="btn btn-outline-dark">
                           <img src="/img/search.png" width="20px" height="20px">
                        </button>
                    </div>
                </div>
            </form>

            <% if(userobj!=null) { %>
                <% if(userobj.task.length >0) { %>
                    <% userobj.task.forEach(t=>{ %>
                        <div class="row" id=<%= t.id %>>
                            <div class="card task col-12">
                                <div class="card-body">
                                    <div class="row" style="float: right;">
                                        <a href="#" class="edit"><img src="./img/edit.png" width="30px" height="30px" class="mr-2 mb-1"></a>
                                        <a class="close"><img src="./img/del.png" width="30px" height="30px"> </a>
                                    </div>
                                    <div class="row" >
                                        <div class="custom-control custom-checkbox checkbox-lg col-5 col-sm-4 col-md-1">
                                            <input type="checkbox"  class="custom-control-input" id="checkbox-1" >
                                            <label class="custom-control-label task-name" for="checkbox-1"><%= t.title %></label>
                                        </div>
                                        <div class="date col-5 col-sm-5 col-md-4 offset-1 offset-md-1">
                                            <p class="date-txt"><%= moment(t.date).format("DD/MM/YY")%></p>
                                        </div>
                                        <% if(t.priority!="Normal"){ %>
                                        <div class="imp col-3 col-sm-4 col-md-4 offset-6 offset-sm-5 offset-md-1 mt-1 mt-md-0">
                                            <p class="imp-txt">Imp</p>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% }else { %>
                    <div>It's time to add some tasks</div>
                <% } %>
            <% } %>
            <%- include('partials/alert.ejs') %>
        </div>
        <script src="/jquery/jquery.slim.min.js"></script>
        <script src="/popper/popper.min.js"></script>
        <script src="/scripts/js/bootstrap.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/addtask.js"></script>
    </body>

</html>