<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!--build:css css/main.css-->
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="/fontawe/font-awesome.min.css">
        <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Nanum+Myeongjo&family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
        <!--endbuild-->
        
        <title>TO DO</title>
    </head>
    <body>
        <%- include('partials/header.ejs',{page:"notes"}) %>
        <%- include('partials/loginModal.ejs') %>
        <%- include('partials/addModal.ejs',{page:"notes"}) %>
        <%- include('./partials/Modal.ejs',{page:"notes"}) %>
        <div class="container">
            <div class="card-columns card-container">
                <% if(userobj!=null) { %>
                    <% if(userobj.notes.length >0) { %>
                        <% userobj.notes.forEach(n=>{ %>
                                <div class="card note " id=<%= n.id %>>
                                    <div class="card-header note-head">
                                        <a class="close " id=<%= n.id %> onclick="closeButtonClick(this.id)">
                                            <img src="./img/del.png" width="30px" height="30px"> </a>
                                        <h3><%= n.Note %></h3>
                                    </div>
                                    <div class="card-body note-text">
                                        <h5><%= n.Text %></h5>
                                    </div>
                                </div>
                        <% }) %>
                    <% }else { %>
                        <div>Add Important Notes</div>
                    <% } %>
                <% } %>
            </div>
        </div>
        <script src="/jquery/jquery.slim.min.js"></script>
        <script src="/popper/popper.min.js"></script>
        <script src="/scripts/js/bootstrap.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/addnote.js"></script>
        <script src="/js/delTask.js"></script>
    </body>
</html>